@import 'animations.scss';
@import 'variables.scss';

@each $name, $colors in $themes {
  $text: map-get($colors, 'text');
  $bubble: map-get($colors, 'bubble');

  .clap-button-#{$name} {
    &:before {
      color: $text;
    }

    .clap-icon {
      color: $text;
      fill: $text;
    }

    &.clap-button-clicked {
      svg {
        background-color: lighten($bubble, 5%) !important;
      }
    }

    .streak-bubble {
      background-color: $bubble;

      span {
        color: $text;
      }
    }

    .confetti {
      border-color: $bubble;
    }
  }
}

.clap-button {
  border: none;

  &:active {
    border: none !important;
    border-image-width: 0px !important;
    outline: none !important;
    box-shadow: none !important;
  }

  background-color: transparent;
  height: 60px;
  width: 60px;
  cursor: pointer;
  display: inline-flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .clap-icon {
    padding: 12px;
    height: 34px !important;
    width: 34px !important;
    border: 1px solid;
    border-radius: 50%;
  }

  &:before {
    font-size: 1em;
    content: attr(data-clap-count);
    position: absolute;
    top: -28px;
  }

  svg {
    height: 34px;
    width: 34px;
    flex-shrink: 0;
  }
}

.streak-bubble {
  position: absolute;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.confetti {
  border-radius: 50%;
  padding: 12px;
  border-style: dotted;
  animation: flying-dots 0.75s forwards;
  position: absolute;
}
