@import "animations.scss";
@import "variables.scss";

$themes: (
  '': (
    text: $gray-text,
    bubble: $gray-bubble
  ),
  'red': (
    text: $red-text,
    bubble: $red-bubble
  ),
  'green': (
    text: $green-text,
    bubble: $green-bubble
  ),
  'blue': (
    text: $blue-text,
    bubble: $blue-bubble
  ),
);

@each $name, $colors in $themes {
    $text: map-get($colors, 'text');
    $bubble: map-get($colors, 'bubble');

    .clap-button-#{$name} {
      color: $text;
      border: 1px solid $text;

      &:active {
        border: 1px solid $text;
      }

      &:before {
        color: $text;
      }

      &.clap-button-clicked {
        background-color: lighten($bubble, 5%) !important;
      }

      svg {
        fill: $text;
      }

      .streak-bubble {
        background-color: $bubble;

        span {
          color: $text;
        }
      }
    }
}

.clap-button {
  background-color: transparent;
  height: 60px;
  width: 60px;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:before {
    font-size: 1em;
    content: attr(data-clap-count);
    position: absolute;
    top: -28px;
  }

  svg {
    height: 34px;
    width: 34px;
    flex-shrink: 0;
  }

}

.streak-bubble {
  position: absolute;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}